@font-face {
	font-family: Raleway-Light;
	src: url('../fonts/Raleway/Raleway-Light.ttf');
}

@font-face {
	font-family: Raleway-Medium;
	src: url('../fonts/Raleway/Raleway-Medium.ttf');
}

@font-face {
	font-family: Raleway-Regular;
	src: url('../fonts/Raleway/Raleway-Regular.ttf');
}