<html>
    <head>
      {% load staticfiles %}
        <link rel='stylesheet' type="text/css" href="{% static '/gregary/css/common.css' %}">
        <link rel='stylesheet' type="text/css" href="{% static '/gregary/css/homepage.css' %}">
        <link rel='stylesheet' type="text/css" href="{% static '/gregary/css/titlebar.css' %}">
    </head>

    <body>
        <header>
            <!-- Title Bar -->
            <h1 id="main-title">Gregary</h1>
            <div id="uinfo-outer-container"></div>
        </header>

        <!-- Main Content -->
        <div id="content-bg"></div>
        <div id="main-container">
        </div>
        <!-- Run JS scrips -->
        <script type="text/javascript" src="{% static '/gregary/js/jquery-3.1.1.js' %}"></script>
        <script type="text/javascript" src="{% static '/gregary/js/homepage.js' %}"></script>
        <script type="text/javascript" src="{% static '/gregary/js/titlebar.js' %}"></script>
<script>
document.onload += (function() {
if ('{{ user.username }}'==''){
  drawLoginButton();
}
else {
  drawUserInfo('{{user.username.upper}}');
}
}());
</script>
    </body>
</html>
