<!DOCTYPE html>
<html lang="en">
<head>
<title>Create Event</title>
</head>

<body>
{% load staticfiles %}
<script src="{% static '/gregary/js/jquery.min.js' %}"></script>
<script src="{% static '/gregary/js/jquery.datetimepicker.full.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/gregary/css/jquery.datetimepicker.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'gregary/css/fonts.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'gregary/css/login_applet.css' %}">

<div class="NoPopUp" id="LoginNPU" >
<center>
    <h2 id="LoginTitle">REGISTER EVENT</h2>
  <form action="{% url 'gregary:event_create' %}" method="post">
    {% csrf_token %}
    <div class="formContainer">
        <label class="formElementLabel">CATEGORY</label><br>
          <select id='category' name='category'  class="formElement" required>
            <option value='split_a_meal' >Split-a-meal
            <option value='video_games'>Video games
            <option value="sports">Sports
        </select>
        <label class="formElementLabel">SUB-CATEGORY</label><br>
          <select id='sub_category' name='sub_category'  class="formElement" required>
        </select>
        <br>
        <label class="formElementLabel">NAME</label><br>
        <input type="text" name="student" placeholder="Name" class="formElement" required>
        <br>
        <label class="formElementLabel">ENROLLMENT NUMBER</label><br>
        <input type="text" name="enrollment_number" placeholder="Enrollment number" class="formElement" required>
        <br>
        <label class="formElementLabel">PHONE NUMBER</label><br>
        <input type="text" name="phone_number" placeholder= "Phone Number" class="formElement"	required>
        <br>
        <label class="formElementLabel">Start time</label><br>
        <input type="text" name="start_time"  id="start_time" placeholder= "" class="formElement"	required>
        <br>
        <label class="formElementLabel">End time</label><br>
        <input type="text" name="end_time"  id="end_time" placeholder= "" class="formElement"	required>
        <br>
        <input type="submit" name="submit" class="formButton" id="LoginButton" >
        <br>
        <!--
        <span id="LoginLinks">
        <a class="loginLink" href="#">Forgot password?</a>
        <br>
        <a class="loginLink" href="{% url 'auth_model:sign_up'%}">Not a member? Sign Up!</a>
        <br>
        </span>
        <script type="text/javascript" src="{% static 'gregary/js/login_applet.js' %}"></script>-->
      </div>
  </form>
</center></div>
<script src="{% static '/gregary/js/subchanger.js' %}"></script>
<script src="{% static '/gregary/js/dates.js' %}"></script>
<script type="text/javascript" src="{% static 'gregary/js/vendor/jquery-3.1.1.js' %}"></script>
<br>
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}
</body>
</html>
